:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3885 0.1163 252.0119);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3885 0.1163 252.0119);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3885 0.1163 252.0119);
  --primary: oklch(0.3885 0.1163 252.0119);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7927 0.1710 70.6699);
  --secondary-foreground: oklch(0.3885 0.1163 252.0119);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.2838 0.0658 260.7078);
  --accent: oklch(0.6413 0.1179 242.5933);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9197 0.0040 286.3202);
  --input: oklch(0.9197 0.0040 286.3202);
  --ring: oklch(0.3885 0.1163 252.0119);
  --chart-1: oklch(0.3885 0.1163 252.0119);
  --chart-2: oklch(0.7927 0.1710 70.6699);
  --chart-3: oklch(0.6413 0.1179 242.5933);
  --chart-4: oklch(0.4023 0.1645 263.0520);
  --chart-5: oklch(0.3277 0.1282 262.4777);
  --sidebar: oklch(0.3885 0.1163 252.0119);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7927 0.1710 70.6699);
  --sidebar-primary-foreground: oklch(0.3885 0.1163 252.0119);
  --sidebar-accent: oklch(0.4023 0.1645 263.0520);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4023 0.1645 263.0520);
  --sidebar-ring: oklch(0.7927 0.1710 70.6699);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 1px 2px -1px hsl(0, 0, 0 / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 1px 2px -1px hsl(0, 0, 0 / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 2px 4px -1px hsl(0, 0, 0 / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 4px 6px -1px hsl(0, 0, 0 / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.10), 0px 8px 10px -1px hsl(0, 0, 0 / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.25);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3885 0.1163 252.0119);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3277 0.1282 262.4777);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.3277 0.1282 262.4777);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7927 0.1710 70.6699);
  --primary-foreground: oklch(0.3885 0.1163 252.0119);
  --secondary: oklch(0.4023 0.1645 263.0520);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2838 0.0658 260.7078);
  --muted-foreground: oklch(0.6413 0.1179 242.5933);
  --accent: oklch(0.6413 0.1179 242.5933);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2838 0.0658 260.7078);
  --input: oklch(0.2838 0.0658 260.7078);
  --ring: oklch(0.7927 0.1710 70.6699);
  --chart-1: oklch(0.7927 0.1710 70.6699);
  --chart-2: oklch(0.6413 0.1179 242.5933);
  --chart-3: oklch(0.4023 0.1645 263.0520);
  --chart-4: oklch(0.3277 0.1282 262.4777);
  --chart-5: oklch(0.2838 0.0658 260.7078);
  --sidebar: oklch(0.3277 0.1282 262.4777);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7927 0.1710 70.6699);
  --sidebar-primary-foreground: oklch(0.3277 0.1282 262.4777);
  --sidebar-accent: oklch(0.4023 0.1645 263.0520);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2838 0.0658 260.7078);
  --sidebar-ring: oklch(0.7927 0.1710 70.6699);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0px 6px 15px 0px hsl(0, 0, 0 / 0.25);
  --shadow-xs: 0px 6px 15px 0px hsl(0, 0, 0 / 0.25);
  --shadow-sm: 0px 6px 15px 0px hsl(0, 0, 0 / 0.50), 0px 1px 2px -1px hsl(0, 0, 0 / 0.50);
  --shadow: 0px 6px 15px 0px hsl(0, 0, 0 / 0.50), 0px 1px 2px -1px hsl(0, 0, 0 / 0.50);
  --shadow-md: 0px 6px 15px 0px hsl(0, 0, 0 / 0.50), 0px 2px 4px -1px hsl(0, 0, 0 / 0.50);
  --shadow-lg: 0px 6px 15px 0px hsl(0, 0, 0 / 0.50), 0px 4px 6px -1px hsl(0, 0, 0 / 0.50);
  --shadow-xl: 0px 6px 15px 0px hsl(0, 0, 0 / 0.50), 0px 8px 10px -1px hsl(0, 0, 0 / 0.50);
  --shadow-2xl: 0px 6px 15px 0px hsl(0, 0, 0 / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}